.header{
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0 20px;
  width:100%;
  box-shadow: 0 2px 3px rgba(0,0,0,.5);
  .logo{
    position: relative;
    top:-10px;
    flex: 0 0 180px;
    width: 180px;
    background: #fff;
    height: 31px;
  }
  .nav{
    flex:1;
    overflow: hidden;
  }
}
